* {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    margin: auto;
    padding-top: 25px;
    flex-direction: column;
    background-color:beige;
}

div {
    display: flex;
    margin:auto;
    align-items: center;
    border-radius: 35px;
    flex-direction: column;
    background-color: white;
    padding: 25px 25px 25px 25px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

input, button {
    width: 45%;
    margin: auto;
    border-radius: 10px;
    padding-bottom: 15px;
    justify-content: center;
}

#heroesContainer {
    margin-top: 25px;
}